@model List<Category>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <partial name="_Notification" />
            <h2>Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create"> <i class="bi-plus-circle"></i> Create New Category</a>
        </div>
    </div>
<table class="table table-border table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.Name))
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                <td class="w-75 btn-group">
                        <a class="btn btn-primary mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"  ><i class="bi bi-pencil-square"></i>Edit</a>
                        <a class="btn btn-danger mx-2" asp-controller="Category" asp-route-id="@obj.Id" asp-action="Delete"><i class="bi bi-trash-fill"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>